@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-radial-gradient {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  }
  .brand-text {
    color: #ffffff;
    text-shadow: 0 -1px 4px #dad5d5, 0 -2px 10px #ff0, 0 -1px 10px #ff8000,
      0 -1px 30px #f00;
  }
}
